%%% -*-erlang-*-
[{modlib,
  [{servers,
    [{8080,
      [{server_root, "./priv"},
       {document_root, "./priv/htdocs"},
       {modules, [lf_http, mod_get]},
       {mime_types, [{"css", "text/css"},
                     {"png", "image/png"}]}
      ]}]}
  ]},
 {listfever,
  [{dtl_reload, true}]}].
